@page "/"

<h1>Greetings,</h1>

<p>This is a web app uses to encode UTF8 string input into UTF64 string, and it can be decoded back to UTF8.</p>
<p>All conversion is stored in a local databased and can be accessed for future use.</p>  
<p>The application is built based on Blazor Server Side "Hello World" demo app.</p>
